.fantome {
  height: 10vh;
}

.container {
  background-image: url("../../Assets/images/deepDungeon.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 99.2vw;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card,
.cardOne {
  list-style: none;
  width: 20vw;
  height: 25vh;
  background-color: black;
  background-image: url("https://img.finalfantasyxiv.com/t/7db35a4e48b2e79fcade72144a2009a5b4af698c_28.png?1530615250");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  color: white;
}

.cardOne {
  background-image: url("https://img.finalfantasyxiv.com/t/7db35a4e48b2e79fcade72144a2009a5b4af698c_7.png?1530615250");
  background-repeat: no-repeat;
  background-size: cover;
}
.bodyCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.allResults {
  flex-wrap: wrap;
  width: 95%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.miniature {
  width: 80px;
  height: 80px;
}
