.fantome{
    height: 10vh
}

.container{
    background-image: url("../../Assets/images/main.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.container > div {
    margin-top: 200px;
    background-color: white;
    margin: 20px;
    border-radius: 20%;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
}