.container{
    width: 100%;
    height: 150vh;
    background-image: url("../../Assets/images/activities.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items:center;
}

.fantome{
    height: 10vh;
}


.slogan{
    position: absolute;
    width: 50vw;
    margin: auto;
}

.subtitle{
    text-align: center;
    font-size: 40px;
    color: green;
    text-decoration: underline;
}

.subtitle:hover{
    color: rgb(5, 98, 5);
    cursor: pointer;
    font-size: 45px;
}

.textes{
    height: 130vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}