.body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: url("../../Assets/images/tempete.jpeg");
    background-repeat: no-repeat;
    background-size: cover;    
}


.blocTwo{
    height: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.btn{
    cursor:pointer;
    animation: showUp 2s;
    margin: auto;
    width: 5vw;
    background-image: url("../../Assets/images/tempete.jpeg");
    opacity: 1;
    font-weight: bolder;
    -webkit-animation: showUp 2s;
    border: red 1px solid;
    color: rgb(71, 68, 68); 
    background-color: black;
}

@keyframes showUp {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}

.btn:hover{
    background-color: rgb(219, 219, 219);
    box-shadow: 5px 5px rgb(219, 186, 186);
}