.fantome{
    height: 10vh
}

.container{
    background-image: url("../../Assets/images/search.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 99.vw;
    min-height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.form_1, .form_2{
    margin-top: 25px;
}

.info{
    background-color: white;
    width: 20vw;
    min-height: 40vh;
}

.portrait{
    width: 20vw;
    height: 40vh;
}

.title{
    color: white;
    background-color: black;
}

.result{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: space-around;
}

.test{
    display: flex;
    flex-wrap: wrap;
}