.fantome{
    height: 10vh
}

.container{
    background-image: url("../../Assets/images/lore_bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 99.vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.carousel{
    padding: 0px 110px 0px 110px;
}

.carouselImage{
    width: 70vw;
    height: 50vh;
    opacity: 1;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
}

.textCarousel, .link, .link:visited{
    font-size: 2rem;
    border: red 1px solid;
    color: rgb(71, 68, 68);
    background-color: black;
}

.link:hover{
    background-color: rgb(219, 219, 219);
}

.link{
    text-decoration: none;
}
