.fantome{
    height: 10vh
}

.container{
    background-color: rgb(87, 94, 97);
    background-repeat: no-repeat;
    background-size: cover;
    width: 99.vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.carousel{
    padding: 0px 200px 0px 200px;
}

.carouselImage{
    width: 70vw;
    height: 50vh;
    opacity: 0.6;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
}

.item{
    display: none;
}
