.section{
    background-image: url("../../Assets/images/login.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    width: 100vw;
    height: 90vh;
    flex-direction: column;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.fantome{
    height: 10vh
}

.title{
    margin-top: 15vh;
}

.form{
    background-image: url("../../Assets/images/login.jpg");
    background-repeat: no-repeat;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10%;
    width: 25vw;
    height: 50vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 10vh;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
}

.form_bloc{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.submit{
    border-radius: 20%;
    padding: 5px;
    font-size: 15px;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
    border: red 1px solid;
    color: rgb(71, 68, 68);
    background-color: black;
}

.submit:hover{
    background-color: rgb(219, 219, 219);
}