* {
  margin: 0;
  padding: 0;
}

.sr-only {
  display: none;
}

.buttonCard,
button {
  border: red 1px solid;
  color: rgb(71, 68, 68);
  background-color: black;
}

.buttonCard:hover,
button:hover {
  background-color: rgb(219, 219, 219);
}
