.fantome{
    height: 10vh
}

.container{
    background-image: url("../../Assets/images/patchList.jpgBG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 99.vw;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.resultPatchList{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 99.2vw;
    flex-wrap: wrap;
}

.card{
    height: 35vh;
    width: 15vw;
    text-align: center;
    list-style: none;
    margin: 20px;
    background-color: black;
    color: white;
}
.bodyCard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.buttonCard{
    border: red 1px solid;
    color: rgb(71, 68, 68);
    background-color: black;
}
.buttonCardShow{
    border: red 1px solid;
    color: rgb(71, 68, 68);
    background-color: black;
    width: 20vw;
    height: 20vh;
    font-size: 3rem;
}

.buttonCard:hover, .buttonCardShow:hover{
    background-color: rgb(219, 219, 219);
    border: red 1px solid;
}

.a{
    color: rgb(71, 68, 68);
    text-decoration: none;
}

.a:visited, .a:hover{
    color: rgb(71, 68, 68);
}